@font-face {
  font-family: "Montserrat";
  src: url("../static/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../static/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Druk Wide";
  src: url("../static/fonts/Druk-Wide.ttf");
  font-weight: 500;
  font-style: normal;
}